<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <%= @game.player_1.name %> picked <%= @game.player_1.move %>.<br>
    <%= @game.player_2.name %> picked <%= @game.player_2.move %>.

    <h1><%= @game.message %></h1><br>
    <h2><a href="/play_one_player">Try again ?</a><h2><br>
    <h2><a href="/">New game</a></h2>
  </body>
</html>
