<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <%= @game.player_1.name %> picked <%= @game.player_1.move %>.<br>
    <%= @game.player_2.name %> picked <%= @game.player_2.move %>.

    <h1><%= @game.message %></h1>
    <h1><a href="/">Try again ?</a><h1>
  </body>
</html>
